<!DOCTYPE html>
<html>
<head>
    {% load static %}

    <title>Coffee Kitty</title>

<link rel="stylesheet" href="{% static 'cafeteria/style.css' %}">
<link rel="icon" href="{% static 'cafeteria/imgs/kitty.png' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<header class="topo">
    <img src="{% static 'cafeteria/imgs/logo.png' %}" class="logo" style="display: flex; margin: 0 auto;">

    <div class="topo-mobile">
        <button id="menu-btn">☰</button>
        <img src="{% static 'cafeteria/imgs/logo2.png' %}" class="logo-mobile">
    </div>

    <nav class="menu-desktop">
        <a href="{% url 'home' %}">MENU</a>
        <a href="{% url 'home' %}#sobre">INFORMAÇÕES</a>
        <a href="{% url 'lista' %}">LISTA</a>
        <a href="{% url 'logout' %}">SAIR</a>
    </nav>

</header>

<!-- SIDEBAR -->
<div id="sidebar" class="sidebar">
    <a href="{% url 'home' %}">Menu</a>
    <a href="{% url 'informacoes' %}">Informações</a>
    <a href="{% url 'cardapio' %}">Cardápio</a>
    <a href="{% url 'lista' %}">Lista</a>
    <a href="{% url 'logout' %}">Sair</a>
</div>

<div class="conteudo">
    {% block content %}{% endblock %}
</div>

<script>
    const btn = document.getElementById("menu-btn");
    const sidebar = document.getElementById("sidebar");

    btn.addEventListener("click", () => {
        sidebar.classList.toggle("ativo");
    });
</script>

</body>
</html>