{% extends 'base.html' %}

{% block content %}

{% load static %}

<h2 id="cardapiotexto">LISTA DE DESEJOS</h2>

<div class="resumo-lista" style="color: white">
    Total: R$ {{ total|floatformat:2 }}
</div>

{% for item in itens %}
<div class="produto">
    <img src="{{ item.produto.imagem.url }}">

        <h3>{{ item.produto.nome }}</h3>
        <p><strong>R$ {{ item.produto.preco }}</strong></p>
        <a href="{% url 'remover_lista' item.id %}" class="botao-remover">Remover da lista</a>
</div>
{% endfor %}

{% endblock %}